<!-- Container -->
<div class="container default-black">
  <!-- Prossimo round -->
  <ion-button
    color="light"
    class="button"
    (click)="homeSrvc.nextRound()"
    [disabled]="!homeSrvc.isPersonaggiCaricati()"
    ><ion-icon name="play-forward-outline"></ion-icon
  ></ion-button>
  <!-- Export dati -->
  <ion-button color="light" class="button" (click)="salva()"
    ><ion-icon name="save-outline"></ion-icon
  ></ion-button>
  <!-- Import dati -->
  <input
    hidden
    #upload
    type="file"
    (change)="fileCaricato($event.target.files[0])"
  />
  <ion-button color="light" class="button" (click)="carica()"
    ><ion-icon name="download-outline"></ion-icon
  ></ion-button>
  <!-- Settings -TODO: -->
  <!-- <ion-button color="light" class="button"
    ><ion-icon name="cog-outline"></ion-icon
  ></ion-button> -->
</div>
