<!-- Container -->
<div class="container default-black">
  <!-- Prossimo round -->
  <ion-button color="light" class="button" (click)="homeSrvc.nextRound()"
    ><ion-icon name="play-forward-outline"></ion-icon
  ></ion-button>
  <!-- Export dati -->
  <ion-button color="light" class="button" (click)="homeSrvc.salva()"
    ><ion-icon name="save-outline"></ion-icon
  ></ion-button>
  <!-- Settings -->
  <ion-button color="light" class="button"
    ><ion-icon name="cog-outline"></ion-icon
  ></ion-button>
</div>
