<!-- Container -->
<div class="container default-black">
  <!-- Prossimo round -->
  <ion-button
    color="light"
    class="button"
    (click)="homeSrvc.nextRound()"
    [disabled]="!homeSrvc.isPersonaggiCaricati()"
    ><ion-icon name="play-forward-outline"></ion-icon
  ></ion-button>
  <!-- Aggiungi personaggio -->
  <ion-button color="light" class="button" (click)="openAddModal()"
    ><ion-icon name="add-outline"></ion-icon
  ></ion-button>
  <!-- Export dati -->
  <ion-button color="light" class="button" (click)="salva()"
    ><ion-icon name="save-outline"></ion-icon
  ></ion-button>
  <!-- Import dati -->
  <ion-button color="light" class="button" (click)="carica()"
    ><ion-icon name="download-outline"></ion-icon
  ></ion-button>
</div>

<!-- Modale inserimento -->
<ion-modal>
  <ng-template>
    <ion-header
      ><ion-title style="margin: 20px 0"
        >Inserisci i dati del personaggio</ion-title
      ></ion-header
    >
    <ion-content>
      <!-- Nome -->
      <ion-item style="margin-top: 45px">
        <ion-input
          type="text"
          placeholder="Nome personaggio"
          [(ngModel)]="personaggioAggiunto.nome"
        ></ion-input>
      </ion-item>
      <!-- Rapidità attuale -->
      <ion-item>
        <ion-input
          type="number"
          placeholder="Rapidità attuale"
          [(ngModel)]="personaggioAggiunto.perc"
        ></ion-input>
      </ion-item>
      <!-- Rapidità per turno -->
      <ion-item>
        <ion-input
          type="number"
          placeholder="Rapidità per turno"
          [(ngModel)]="personaggioAggiunto.percPerTurno"
        ></ion-input>
      </ion-item>

      <!-- Conferma -->
      <!-- perc = 0 è un valore ammesso -->
      <ion-button
        expand="block"
        [disabled]="
          !personaggioAggiunto.nome ||
          personaggioAggiunto.perc === null ||
          personaggioAggiunto.perc === undefined ||
          !personaggioAggiunto.percPerTurno
        "
        (click)="aggiungiPersonaggio()"
        style="margin: 15px 10px"
        >Conferma</ion-button
      >
    </ion-content>
  </ng-template>
</ion-modal>
