<!-- Content -->
<div
  class="content hover default-black"
  (click)="homeSrvc.setPersonaggioSelezionato(indice)"
  [ngStyle]="{ 'background-color': dettagli.selected ? '#dd65a22e' : '' }"
>
  <!-- Nome personaggio -->
  <p
    class="nome"
    [ngStyle]="{
      'font-weight': dettagli.selected ? 'bold' : '',
      'text-decoration': dettagli.isDead ? 'line-through' : ''
    }"
  >
    {{ dettagli.nome }} - {{ dettagli.rage }}
  </p>
  <div>
    <!-- Gestione morente -->
    <ion-icon
      *ngIf="!dettagli.isDead"
      [name]="dettagli.isMorente ? 'heart-dislike-outline' : 'heart-outline'"
      (click)="setDeath()"
      [color]="dettagli.isMorente ? 'danger' : 'success'"
      style="margin-right: 20px"
    ></ion-icon>
    <!-- Personaggio morto -->
    <ion-icon
      *ngIf="dettagli.isDead"
      name="skull-outline"
      color="medium"
      style="margin-right: 20px"
    ></ion-icon>
    <!-- Up/down per rage -->
    <ion-icon name="arrow-up-outline" (click)="setRage(true)"></ion-icon>
    <ion-icon name="arrow-down-outline" (click)="setRage(false)"></ion-icon>
  </div>
  <!-- Percentuale rapidità -->
  <div
    class="percBarContainer"
    [ngStyle]="{ 'background-color': calcolaBackground() }"
  >
    <!-- Gestione barra per percentuali positive -->
    <div
      *ngIf="dettagli.perc > 0"
      class="percBar"
      [ngStyle]="{
        width: (dettagli.perc % 100) + '%',
        'background-color': dettagli.perc > 100 ? '#8af58a' : '#efef74'
      }"
    ></div>
    <!-- Gestione barra per percentuali negative -->
    <div
      *ngIf="dettagli.perc < 0"
      class="percBar"
      [ngStyle]="{
        width: (-dettagli.perc % 100) + '%',
        'background-color': dettagli.perc < -100 ? '#eb7676' : '#f7ce83'
      }"
    ></div>
    <!-- Stringa di % -->
    <div
      class="percAlign"
      [ngStyle]="{ top: dettagli.perc === 0 ? '5px' : '-25px' }"
    >
      <input
        class="percInput no-margin"
        [(ngModel)]="dettagli.perc"
        type="number"
      />
      <p class="no-margin">%</p>
    </div>
  </div>
  <!-- Button di gestione % -->
  <div class="buttons">
    <ion-button
      (click)="cambiaPerc($event, true)"
      [disabled]="dettagli.isDead"
      color="success"
      >+</ion-button
    >
    <ion-button
      (click)="cambiaPerc($event, false)"
      [disabled]="dettagli.isDead"
      color="danger"
      >-</ion-button
    >
  </div>
</div>
