<!-- Content -->
<div
  class="content hover default-black"
  (click)="homeSrvc.setPersonaggioSelezionato(indice)"
  [ngStyle]="{ 'background-color': dettagli.selected ? '#dd65a22e' : '' }"
>
  <!-- Nome personaggio -->
  <p
    class="nome"
    [ngStyle]="{
      'font-weight': dettagli.selected ? 'bold' : '',
      'text-decoration': dettagli.isDead ? 'line-through' : ''
    }"
  >
    {{ dettagli.nome }} - {{ dettagli.rage }}
  </p>
  <div>
    <!-- Gestione morente -->
    <ion-icon
      *ngIf="!dettagli.isDead"
      [name]="dettagli.isMorente ? 'heart-dislike-outline' : 'heart-outline'"
      (click)="setDeath()"
      [color]="dettagli.isMorente ? 'danger' : 'success'"
    ></ion-icon>
    <!-- Personaggio morto -->
    <ion-icon
      *ngIf="dettagli.isDead"
      name="skull-outline"
      (click)="setDeath()"
      color="medium"
    ></ion-icon>
  </div>
  <!-- Percentuale rapidità -->
  <div
    class="percBarContainer"
    [ngStyle]="{ 'background-color': calcolaBackground() }"
  >
    <!-- Gestione barra per percentuali positive -->
    <div
      *ngIf="dettagli.perc > 0"
      class="percBar"
      [ngStyle]="{
        width: (dettagli.perc % 100) + '%',
        'background-color': dettagli.perc > 100 ? '#8af58a' : '#efef74'
      }"
    ></div>
    <!-- Gestione barra per percentuali negative -->
    <div
      *ngIf="dettagli.perc < 0"
      class="percBar"
      [ngStyle]="{
        width: (-dettagli.perc % 100) + '%',
        'background-color': dettagli.perc < -100 ? '#eb7676' : '#f7ce83'
      }"
    ></div>
    <!-- Stringa di % -->
    <div
      class="percAlign"
      [ngStyle]="{ top: dettagli.perc === 0 ? '5px' : '-25px' }"
    >
      <input
        class="percInput no-margin"
        [(ngModel)]="dettagli.perc"
        type="number"
      />
      <p class="no-margin">%</p>
    </div>
  </div>
  <!-- Button di gestione % -->
  <!-- 1% -->
  <div>
    <ion-button
      (click)="cambiaPerc($event, true, 1)"
      [disabled]="dettagli.isDead || dettagli.isMorente"
      color="success"
      >+1</ion-button
    >
    <ion-button
      (click)="cambiaPerc($event, false, 1)"
      [disabled]="dettagli.isDead || dettagli.isMorente"
      color="danger"
      >-1</ion-button
    >
  </div>
  <!-- 10% -->
  <div>
    <ion-button
      (click)="cambiaPerc($event, true, 10)"
      [disabled]="dettagli.isDead || dettagli.isMorente"
      color="success"
      >+10</ion-button
    >
    <ion-button
      (click)="cambiaPerc($event, false, 10)"
      [disabled]="dettagli.isDead || dettagli.isMorente"
      color="danger"
      >-10</ion-button
    >
  </div>
  <!-- Buttons per rage -->
  <div>
    <ion-button
      (click)="setRage(true, $event)"
      [disabled]="dettagli.isDead || dettagli.isMorente"
      color="primary"
      >↑</ion-button
    >
    <ion-button
      (click)="setRage(false, $event)"
      [disabled]="dettagli.isDead || dettagli.isMorente || dettagli.rage === 0"
      color="warning"
      >↓</ion-button
    >
  </div>
</div>
<!-- Completa turno -->
<div
  class="buttonRow"
  *ngIf="dettagli.selected && !dettagli.isDead && !dettagli.isMorente"
>
  <ion-button (click)="homeSrvc.completaTurno()" color="dark"
    >Completa Turno</ion-button
  >
</div>
