.content {
  padding: 5px;
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(20, 19, 19);
}

.nome {
  width: 20%;
}

.percBarContainer {
  width: 50%;
  height: 30px;
  position: relative;
  border-radius: 5px;
}

.percBar {
  height: 30px;
  border-radius: 5px;
}

.percAlign {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  top: -25px;
  left: 40%;
}

.percInput {
  width: 40px;
  background: none;
  border: none;
  text-align: end;
}

.buttons {
  width: 20%;
}
