.content {
  padding: 5px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(20, 19, 19);
  border-radius: 15px;
}

.nome {
  width: 20%;
}

.percBarContainer {
  width: 55%;
  height: 30px;
  position: relative;
  border-radius: 5px;
}

.percBar {
  height: 30px;
  border-radius: 5px;
}

.percAlign {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  left: 40%;
}

.percInput {
  width: 40px;
  background: none;
  border: none;
  text-align: end;
}

.buttons {
  width: 15%;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
