<!-- Content -->
<ion-content [fullscreen]="true">
  <!-- Container generico -->
  <div class="container">
    <!-- Barra azioni -->
    <app-barra-azioni></app-barra-azioni>

    <!-- Lista dei personaggi -->
    <div class="containerDomini">
      <app-dominio-personaggio
        *ngFor="let personaggio of homeSrvc.personaggi; let indiceDominio = index"
        [dettagli]="personaggio"
        [indice]="indiceDominio"
      ></app-dominio-personaggio>
    </div>

    <!-- Dettagli personaggio selezionato -->
    <div class="containerDettagli">
      <app-dettagli-personaggio
        [personaggio]="homeSrvc.getPersonaggioSelezionato()"
      ></app-dettagli-personaggio>
    </div>
  </div>
</ion-content>
