.container {
  width: 100%;
}

.name {
  padding: 0 20px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.nomeContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.abilita {
  width: 15px;
  height: 16px;
  border-radius: 100%;
}

.abilitaContainer {
  width: 40px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.abilitaContent {
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.body {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: start;
}

.half-body {
  width: 50%;
  padding: 0 3%;
}

.title {
  font-size: 20px;
  text-align: center;
  height: 40px;
  margin: 15px 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.effetto {
  width: 100%;
  margin: 5px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.statisticaContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.statistica {
  width: 40%;
  margin: 5px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.enterValue {
  width: 50px;
  background: none;
  border: none;
  text-align: end;
}

.durata {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttonRow {
  margin-top: 20px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  align-items: center;
  justify-content: center;
  &::part(content) {
    width: 500px;
    height: 300px;
  }
}

.buttonRowModale {
  margin-top: 35px;
  width: 80%;
  padding-left: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
